body{
	background-image:url(Bildes/hex.png);
	font-family: 'Handlee', cursive;
}
a{
	text-decoration: none;
}
img{
    max-width: 30%;
}
.main img:hover{
	max-width: 31%;
}
div{
	margin-right: 40px;
	margin-left: 40px;
}
.logo{
	padding: 30px 0px 0px 0px;
	text-align: center;
}
.izvelne{
	text-align: center;
	background-color: red;
	padding: 10px 0px 10px 0px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.izvelne span{
	font-size: 20pt;
	margin: 0px 30px 0px 30px;
	border-style: dashed;
	border-radius: 15px;
	border-color: indianred green blue;
	padding: 0px 7px 0px 7px;
}
.izvelne span:hover{
	font-weight: bold;
	padding: 3px 7px 3px 7px;
}
.main{
	background-color: blue;
	font-size: 15pt;
	padding: 18px;
	padding-top: 36px;
	text-align: center;
}
.copyright{
	font-size: 12pt;
	text-align: center;
}
#a{
	background-color: aqua;
}
#b{
	background-color: yellow;
}
#c{
	background-color: magenta;
}
#d{
	background-color: mediumspringgreen;
}
#kontakti{
	font-size: 14pt;
}
#sakums{
	text-align: left;
	padding-left: 50px;
	padding-right: 50px;
}
#SkypeButton_Call_spider3691_1{
	background-color: brown;
}