html,body,.main,.left,.center,.right{
	height: 100%;
}
body{
	background-image: linear-gradient(red,yellow,green,violet);
	background-repeat: round;
	font-family: 'Handlee', cursive;
}
a{
	text-decoration: none;
}
.center img{
    max-width: 30%;
}
div{
	margin-right: 40px;
	margin-left: 40px;
}
.logo,.navigation{
	width: 1807px;
	border-radius: 20px;
	margin-top: 40px;
	border-style: solid;
	border-color: grey;
	background-color: #f1d29c;
}
.left,.center,.right{
	border-style: solid;
	border-color: grey;
	border-radius: 20px;
}
.logo{
}
.logoimage{
	margin:0px 0px 0px 0px;
	background-image: linear-gradient(blue,violet);
	width: 50%;
}
.navigation{
	text-align: center;
	padding: 10px 0px 10px 0px;
}
.navigation span{
	font-size: 20pt;
	margin: 0px 30px 0px 30px;
	border-style: dashed;
	border-radius: 15px;
	border-color: indianred green blue;
	padding: 0px 7px 0px 7px;
}
.navigation span:hover{
	font-weight: bold;
	padding: 3px 7px 3px 7px;
}
.main{
	font-size: 15pt;
	text-align: center;
	width: 1807px;
	border-radius: 20px;
	margin-top: 40px;
	padding-bottom: 50px;
}
.main img:hover{
	max-width: 31%;
}
.copyright{
	font-size: 12pt;
	text-align: center;
	margin-bottom: 40px;
	width: 1807px;
}
#a,#b,#c,#d{
	background-color: grey;
}
.left{
	width: 360px;
	float: left;
	background-color: orange;
	margin:0px 20px 0px 0px;
	padding: 50px 0px 0px 0px;
}
.news{
	height: 20%;
	background-color: magenta;
	margin-bottom: 10px;
}
.center{
	width: 880px;
	float: left;
	margin:0px 20px 0px 20px;
	padding: 50px 50px 0px 50px;
	background-color: #f1d29c;
}
.right{
	width: 360px;
	float: left;
	background-color: orange;
	margin:0px 0px 0px 20px;
	padding: 50px 0px 0px 0px;
}
.ad{
	height: 30%;
	background-color: magenta;
	margin-bottom: 10px;
}
#intro{
	text-align: left;
}
#contacts{
	font-size: 14pt;
}
#SkypeButton_Call_spider3691_1{
	background-color: brown;
}