body{
	background-image:url(Bildes/hex.png);
	font-family: 'Handlee', cursive;
}
a{
	text-decoration: none;
}
img{
    max-width: 30%;
}
.main img:hover{
	max-width: 31%;
}
.logo{
	padding-top: 30px;
	text-align: center;
}
.izvelne{
	text-align: center;
	background-color: red;
	padding:10px 0px 10px 0px;
	margin: 20px 0px 25px 0px;
}
.izvelne span{
	font-size: 20pt;
	margin-right: 30px;
	margin-left: 30px;
	border-style: dashed;
	border-radius: 15px;
	border-color: indianred green blue;
}
.izvelne span:hover{
	padding-top: 3px;
	padding-bottom: 3px;
}
.main{
	background-color: blue;
	font-size: 15pt;
	text-align: center;
	width: 1200px;
	height: 1400px;
}
.copyright{
	font-size: 12pt;
	text-align: center;
}
#a{
	background-color: aqua;
}
#b{
	background-color: yellow;
}
#c{
	background-color: magenta;
}
#d{
	background-color: mediumspringgreen;
}
#kontakti{
	font-size: 14pt;
}
#left{
	float:left;
	width: 300px;
	background-color: green;
	height: 100%;
}
#right{
	float:left;
	width: 300px;
	background-color: green;
	height: 100%;
}
#sakums{
	text-align: left;
	padding-left: 50px;
	padding-right: 50px;
	width: 500px;
	float:left;
	height: inherit;
}
#SkypeButton_Call_spider3691_1{
	background-color: brown;
}